<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new"><button>Add a Message</button></a>
    <div class="messagesContainer">
      <% messages.forEach((message) => { %> <%- include('messages/message',
      {user: message.user, text: message.text, date:
      message.added.toISOString().split('T')[0], time:
      message.added.toLocaleTimeString('en-US'), id: message.id}) %> <% }) %>
    </div>
  </body>
</html>
